body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}

header h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}

header p {
    margin: 0;
    font-size: 16px;
}

header a {
    color: #e8491d;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

section h2 {
    color: #35424a;
    text-transform: uppercase;
    border-bottom: #e8491d 2px solid;
    padding-bottom: 5px;
}

pre {
    background: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s;
}

pre:hover {
    background: #e8491d;
    color: #fff;
}
